.blog_lasted__item {
  position: relative;
  z-index: 1;
  border-radius: 1.1627906977vw;
  overflow: hidden;
}

.blog_lasted__item .blog_lasted__item__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 5.3488372093vw 3.488372093vw;
  z-index: 1;
}

.blog_lasted__item .blog_lasted__item__wrapper * {
  color: #fff;
}

.blog_lasted__item .blog_lasted__item__wrapper .blog_lasted__item__name {
  order: 1;
  font-size: 3.7209302326vw;
  font-weight: 700;
  display: block;
  margin-bottom: 1.8604651163vw;
}

.blog_lasted__item .blog_lasted__item__wrapper .blog_lasted__item__desc {
  order: 3;
  font-size: 2.7906976744vw;
  font-weight: 400;
}

.blog_lasted__item .blog_lasted__item__wrapper .blog_item__specs {
  order: 2;
  display: flex;
  gap: 3.7209302326vw;
  margin-bottom: 2.3255813953vw;
  font-size: 3.2558139535vw;
}

.blog_lasted__item .blog_lasted__item__link img {
  display: block;
  border-radius: 1.1627906977vw;
  overflow: hidden;
  width: 100%;
}

.blog_lasted__item .blog_lasted__item__link {
  display: block;
  position: relative;
  z-index: 1;
}

.blog_lasted__item .blog_lasted__item__link:after {
  position: absolute;
  inset: 0;
  content: "";
  background: linear-gradient(180deg, black, transparent);
  border-radius: 1.1627906977vw;
  z-index: 0;
  pointer-events: none;
}

.blog_lasted .box {
  display: block;
}

.blog_lasted .blog_lasted__items,
.blog_lasted .blog_lasted__cells {
  display: none;
}

.blog_lasted {
  padding: 5.5813953488vw 0;
  border-bottom: solid 1px #d9d9d9;
}

@media (min-width: 768px) {
  .blog_lasted .only_pc .swiper {
    display: none;
  }
  .blog_lasted .blog_lasted__items,
  .blog_lasted .blog_lasted__cells {
    display: block;
    scrollbar-gutter: stable;
  }
  .blog_lasted .box {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.7361111111vw;
  }
  .blog_lasted__items .blog_lasted__item .blog_lasted__item__wrapper .blog_lasted__item__name {
    font-size: 2.2222222222vw;
    margin-bottom: 0;
  }
  .blog_lasted__items .blog_lasted__item .blog_lasted__item__wrapper .blog_lasted__item__desc {
    display: none;
  }
  .blog_lasted__items .blog_lasted__item .blog_lasted__item__wrapper .blog_item__specs,
  .blog_lasted__cells .blog_lasted__item .blog_lasted__item__wrapper .blog_item__specs {
    font-size: 0.9722222222vw;
    font-family: "Public Sans";
    gap: 1.1111111111vw;
    margin-bottom: 0.6944444444vw;
  }
  .blog_lasted__item .blog_lasted__item__wrapper {
    padding: 2.9166666667vw 1.9444444444vw 2.9166666667vw 1.9444444444vw;
  }
  .blog_lasted .box .column:nth-child(1) {
    max-width: 47.9166666667vw;
  }
  .blog_lasted .box .column:nth-child(1),
  .blog_lasted .box .column:nth-child(2) {
    width: 100%;
  }
  .blog_lasted .box .column:nth-child(2) {
    max-width: 33.75vw;
  }
  .blog_lasted__cells {
    overflow-y: auto;
    max-height: 39.5833333333vw;
  }
  .blog_lasted__cells .blog_lasted__item .blog_lasted__item__link img {
    aspect-ratio: 2/1.14;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .blog_lasted__cells .blog_lasted__item:not(:last-child) {
    margin-bottom: 1.0416666667vw;
  }
  .blog_lasted__cells .blog_lasted__item .blog_lasted__item__wrapper {
    padding: 1.3888888889vw 1.1111111111vw;
  }
  .blog_lasted {
    border-bottom: transparent;
    padding: 3.0555555556vw 0;
  }
  .blog_lasted + .blog {
    padding-top: 1.4583333333vw;
  }
  .blog_lasted__cells .blog_lasted__item .blog_lasted__item__wrapper .blog_lasted__item__desc {
    display: none;
  }
  .blog_lasted__cells .blog_lasted__item .blog_lasted__item__wrapper .blog_lasted__item__name {
    font-size: 1.7361111111vw;
    margin-bottom: 0;
  }
  .blog_lasted__item .blog_lasted__item__link img {
    border-radius: 0;
    aspect-ratio: 1/0.83;
  }
}/*# sourceMappingURL=blog.css.map */