@function cal($size, $percent: 1.2) {
  @return $size * $percent;
}
@function vw($px-vw, $base-vw: 430px) {
  @return ($px-vw * 100vw) / $base-vw;
}
.blog_lasted__item {
  position: relative;
  z-index: 1;
  border-radius: vw(5px);
  overflow: hidden;
}

.blog_lasted__item .blog_lasted__item__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: vw(23px) vw(15px);
  z-index: 1;
}

.blog_lasted__item .blog_lasted__item__wrapper * {
  color: #fff;
}

.blog_lasted__item .blog_lasted__item__wrapper .blog_lasted__item__name {
  order: 1;
  font-size: vw(16px);
  font-weight: 700;
  display: block;
  margin-bottom: vw(8px);
}

.blog_lasted__item .blog_lasted__item__wrapper .blog_lasted__item__desc {
  order: 3;
  font-size: vw(12px);
  font-weight: 400;
}

.blog_lasted__item .blog_lasted__item__wrapper .blog_item__specs {
  order: 2;
  display: flex;
  gap: vw(16px);
  margin-bottom: vw(10px);
  font-size: vw(14px);
}

.blog_lasted__item .blog_lasted__item__link img {
  display: block;
  border-radius: vw(5px);
  overflow: hidden;
  width: 100%;
}

.blog_lasted__item .blog_lasted__item__link {
  display: block;
  position: relative;
  z-index: 1;
}

.blog_lasted__item .blog_lasted__item__link:after {
  position: absolute;
  inset: 0;
  content: "";
  background: linear-gradient(180deg, black, transparent);
  border-radius: vw(5px);
  z-index: 0;
  pointer-events: none;
}
.blog_lasted .box {
  display: block;
}
.blog_lasted .blog_lasted__items,
.blog_lasted .blog_lasted__cells {
  display: none;
}
.blog_lasted {
  padding: vw(24px) 0;
  border-bottom: solid 1px #d9d9d9;
}
@media (min-width: 768px) {
  .blog_lasted .only_pc .swiper {
    display: none;
  }
  .blog_lasted .blog_lasted__items,
  .blog_lasted .blog_lasted__cells {
    display: block;
    scrollbar-gutter: stable;
  }
  .blog_lasted .box {
    display: flex;
    flex-wrap: nowrap;
    gap: vw(25px, 1440px);
  }
  .blog_lasted__items
    .blog_lasted__item
    .blog_lasted__item__wrapper
    .blog_lasted__item__name {
    font-size: vw(32px, 1440px);
    margin-bottom: 0;
  }

  .blog_lasted__items
    .blog_lasted__item
    .blog_lasted__item__wrapper
    .blog_lasted__item__desc {
    display: none;
  }

  .blog_lasted__items
    .blog_lasted__item
    .blog_lasted__item__wrapper
    .blog_item__specs,
  .blog_lasted__cells
    .blog_lasted__item
    .blog_lasted__item__wrapper
    .blog_item__specs {
    font-size: vw(14px, 1440px);
    font-family: "Public Sans";
    gap: vw(16px, 1440px);
    margin-bottom: vw(10px, 1440px);
  }

  .blog_lasted__item .blog_lasted__item__wrapper {
    padding: vw(42px, 1440px) vw(28px, 1440px) vw(42px, 1440px) vw(28px, 1440px);
  }

  .blog_lasted .box .column:nth-child(1) {
    max-width: vw(690px, 1440px);
  }
  .blog_lasted .box .column:nth-child(1),
  .blog_lasted .box .column:nth-child(2) {
    width: 100%;
  }
  .blog_lasted .box .column:nth-child(2) {
    max-width: vw(486px, 1440px);
  }
  .blog_lasted__cells {
    overflow-y: auto;
    max-height: vw(570px, 1440px);
  }
  .blog_lasted__cells .blog_lasted__item .blog_lasted__item__link img {
    aspect-ratio: 2/1.14;
    object-fit: cover;
    height: 100%;
  }

  .blog_lasted__cells .blog_lasted__item:not(:last-child) {
    margin-bottom: vw(15px, 1440px);
  }

  .blog_lasted__cells .blog_lasted__item .blog_lasted__item__wrapper {
    padding: vw(20px, 1440px) vw(16px, 1440px);
  }
  .blog_lasted {
    border-bottom: transparent;
    padding: vw(44px, 1440px) 0;
  }

  .blog_lasted + .blog {
    padding-top: vw(21px, 1440px);
  }
  .blog_lasted__cells
    .blog_lasted__item
    .blog_lasted__item__wrapper
    .blog_lasted__item__desc {
    display: none;
  }

  .blog_lasted__cells
    .blog_lasted__item
    .blog_lasted__item__wrapper
    .blog_lasted__item__name {
    font-size: vw(25px, 1440px);
    margin-bottom: 0;
  }
  .blog_lasted__item .blog_lasted__item__link img {
    border-radius: 0;
    aspect-ratio: 1 / 0.83;
  }
}
