.contact .title {
  font-size: 8.3720930233vw;
  font-weight: 700;
  color: #ea6a24;
  text-align: center;
  margin-bottom: 2.7906976744vw;
}

.contact .desc {
  font-size: 3.023255814vw;
  color: #676767;
  margin-bottom: 5.5813953488vw;
}

.contact .infos {
  border: solid 1px #b6b6b6;
  border-radius: 3.7209302326vw;
  padding: 5.5813953488vw 7.4418604651vw;
  background: #fff;
}

.contact .infos .info .label {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 2.7906976744vw;
  font-size: 3.7209302326vw;
  margin-bottom: 0.9302325581vw;
}

.contact .infos .info .value {
  font-size: 3.7209302326vw;
  color: #676767;
}

.contact .infos .info:not(:last-child) {
  margin-bottom: 2.7906976744vw;
}

.contact {
  padding: 5.5813953488vw 0;
  background: #fff7ee;
}

.contact .contact_image {
  margin-bottom: 5.5813953488vw;
}

.contact .socials a img {
  width: 11.1627906977vw;
  aspect-ratio: 1/1;
}

.contact .socials a {
  text-decoration: none;
}

.contact .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.5813953488vw;
  padding-top: 5.5813953488vw;
  border-top: solid 1px #b6b6b6;
  margin-top: 5.5813953488vw;
}

.contact .box {
  flex-direction: column-reverse;
}

.contact .contact_image {
  margin-bottom: 5.5813953488vw;
}

.contact_form {
  padding: 7.4418604651vw 0 0 0;
}
.contact_form .title_all {
  line-height: 1.3;
}
.contact_form .title_all strong {
  color: #ea6a24;
}

.contact_maps .contact_maps__infos p:not(:last-child) {
  margin-bottom: 4.6511627907vw;
}

.contact_maps .contact_maps__infos p {
  font-size: 3.7209302326vw;
  color: #676767;
  font-weight: 500;
}

.contact_maps .contact_maps__infos a {
  color: #ea6a24;
  text-decoration: none;
}

.contact_maps {
  padding: 5.5813953488vw 0 7.4418604651vw 0;
}

.contact_maps iframe {
  height: 86.0465116279vw;
  background: #ebebeb;
  width: 100%;
  margin-bottom: 7.4418604651vw;
  max-width: 100%;
}

.contact_maps .box {
  display: block;
}

.contact_form .contact_form__wrapper {
  max-width: 267.9069767442vw;
  margin-left: auto;
  margin-right: auto;
}

.contact_form .contact_form__wrapper .box-f {
  display: flex;
  gap: 3.7209302326vw;
  margin-bottom: 3.7209302326vw;
}

.contact_form .contact_form__wrapper .box-f .cell {
  max-width: calc(50% - 1.8604651163vw);
  width: 100%;
}

.contact_form .contact_form__wrapper input,
.contact_form .contact_form__wrapper .full,
.contact_form .contact_form__wrapper textarea {
  width: 100%;
}

.contact_form .contact_form__wrapper input,
.contact_form .contact_form__wrapper textarea {
  height: 10.2325581395vw;
  border: solid thin #d9d9d9;
  border-radius: 0.4651162791vw;
  padding: 3.7209302326vw;
  font-family: "Signika";
}

.contact_form .contact_form__wrapper textarea {
  min-height: 55.1162790698vw;
}

.contact_form .contact_form__wrapper .wpcf7-form-control-wrap {
  display: block;
  margin-top: 0.9302325581vw;
}

.contact_form .contact_form__wrapper p {
  font-size: 3.2558139535vw;
  font-family: "Public Sans";
  color: #302212;
}

.contact_form .contact_form__wrapper input[type=submit] {
  background: #ea6a24;
  color: #fff;
  border-radius: 1.8604651163vw;
  max-width: 36.0465116279vw;
  margin-left: auto;
  margin-right: auto;
  line-height: 0.5;
  border: transparent;
  font-size: 3.7209302326vw;
}

.contact_form .contact_form__wrapper p:has(input[type=submit]) {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  padding-bottom: 8.1395348837vw;
  font-size: 3.7209302326vw;
  font-weight: 500;
}

.contact_form .contact_form__wrapper .full .wpcf7-spinner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.contact_form .wpcf7-response-output {
  margin: 0 !important;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2.7906976744vw !important;
  font-size: 3.2558139535vw;
  text-align: center;
  border-color: #ea6a24 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.contact_form .contact_form__wrapper .box-f .cell {
  max-width: 100%;
}

.contact_form .contact_form__wrapper .box-f {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .contact_form .title_all {
    margin-bottom: 3.8888888889vw;
  }
  .contact .socials {
    gap: 1.6666666667vw;
    margin-top: 0;
  }
  .contact .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact .socials a img {
    width: 3.3333333333vw;
  }
  .contact .infos .info .label {
    font-size: 1.1111111111vw;
    gap: 0.8333333333vw;
    margin-bottom: 0.2777777778vw;
  }
  .contact .infos {
    border-radius: 1.1111111111vw;
    padding: 1.6666666667vw 2.2222222222vw;
  }
  .contact .infos .info .value {
    font-size: 1.1111111111vw;
  }
  .contact .box {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .contact .box .column {
    max-width: calc(50% - 2.0833333333vw);
    width: 100%;
  }
  .contact .container {
    max-width: 90.9722222222vw;
  }
  .contact .title {
    font-size: 5vw;
    font-weight: 800;
    text-align: left;
    line-height: 1.1;
    margin-bottom: 1.6666666667vw;
  }
  .contact .desc {
    font-size: 1.1111111111vw;
  }
  .contact .infos {
    display: flex;
  }
  .contact .infos .infos_wrapper {
    margin-right: 1.6666666667vw;
  }
  .contact .infos .info:not(:last-child) {
    margin-bottom: 0.8333333333vw;
  }
  .contact .socials {
    border-top: transparent;
    border-left: solid 1px #b6b6b6;
    max-width: 17.2222222222vw;
    width: 100%;
    padding-left: 1.6666666667vw;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-start;
    max-width: 15vw;
  }
  .contact {
    padding-top: 5.5555555556vw;
    padding-bottom: 5.5555555556vw;
    background-image: url(../images/bg-contact.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }
  .contact_form {
    padding-top: 5.5555555556vw;
    padding-bottom: 0;
  }
  .contact_form .title_all .desc {
    max-width: 55.9027777778vw;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    font-size: 1.1111111111vw;
  }
  .contact_maps {
    padding-top: 1.6666666667vw;
    padding-bottom: 5.5555555556vw;
  }
  .contact_maps .box {
    display: flex;
    flex-wrap: nowrap;
    gap: 2.2222222222vw;
  }
  .contact_maps .box .column:nth-child(1) {
    max-width: 38.8194444444vw;
    width: 100%;
  }
  .contact_maps .box .column:nth-child(2) {
    max-width: 42.1527777778vw;
    width: 100%;
  }
  .contact_maps .contact_maps__infos p {
    font-size: 1.3888888889vw;
  }
  .contact_form .contact_form__wrapper p {
    font-size: 0.9722222222vw;
  }
  .contact_form .contact_form__wrapper input,
  .contact_form .contact_form__wrapper textarea {
    height: 3.0555555556vw;
    font-size: 1.1111111111vw;
    padding: 0.8333333333vw 1.1111111111vw;
  }
  .contact_form .contact_form__wrapper .box-f {
    margin-bottom: 1.1111111111vw;
  }
  .contact_form .contact_form__wrapper .wpcf7-form-control-wrap {
    margin-top: 0.2777777778vw;
  }
  .contact_form .contact_form__wrapper .box-f .cell {
    max-width: calc(50% - 0.5555555556vw);
    width: 100%;
  }
  .contact_form .contact_form__wrapper .box-f {
    flex-wrap: nowrap;
    gap: 1.1111111111vw;
  }
  .contact_form .contact_form__wrapper textarea {
    min-height: 16.4583333333vw;
  }
  .contact_form .contact_form__wrapper input[type=submit] {
    font-size: 1.1111111111vw;
    max-width: 9.7916666667vw;
    border-radius: 0.5555555556vw;
  }
  .contact_form .contact_form__wrapper p:has(input[type=submit]) {
    padding-bottom: 2.2222222222vw;
  }
  .contact_form .wpcf7-response-output {
    font-size: 0.9722222222vw !important;
    padding: 0.6944444444vw !important;
  }
  .contact_maps iframe {
    height: 25.7638888889vw;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=contact.css.map */