@function cal($size, $percent: 1.2) {
    @return $size * $percent;
}
@function vw($px-vw, $base-vw: 430px) {
    @return ($px-vw * 100vw) / $base-vw;
}
.product_top__item__texts .name {
    font-size: vw(28px);
    font-weight: 800;
    text-decoration: none;
    color: #302212;
}

.product_top__item__texts .desc {
    font-size: vw(13px);
    color: #676767;
    font-weight: 400;
    margin-bottom: vw(12px);
}

.product_top__item__texts .spec {
    display: flex;
}

.product_top__item__texts .spec > * {
    max-width: calc(100% / 3);
    width: 100%;
}

.product_top__item__texts .spec .label {
    font-weight: 700;
    padding-bottom: vw(4px);
    margin-bottom: vw(4px);
    border-bottom: solid thin #d9d9d9;
}

.product_top__item__texts .spec .value {
    font-style: italic;
    color: #a1a1a1;
}

.product_top__item__texts .specs {
    margin-bottom: vw(24px);
}

.product_top__item__texts .product_top__detail {
    width: 100%;
    display: block;
    font-size: vw(16px);
    font-weight: 700;
    background: #ea6a24;
    text-align: center;
    color: #fff;
    border-radius: vw(8px);
    text-decoration: none;
    padding: vw(12px) vw(24px);
    margin-bottom: vw(24px);
}

.product_description .product_description__tab {
    font-size: vw(16px);
    font-weight: 700;
    font-family: "Public Sans";
    margin-bottom: vw(4px);
}

.product_description__tabs .s-content {
    font-size: vw(14px);
    color: #5f6c72;
    font-family: "Public Sans";
}

.product_description {
    margin-bottom: vw(32px);
    & + .feels {
        display: block;
    }
}

.product_description__tabs .product_description__content .column:nth-child(2) {
    display: none;
}
.product_detail {
    padding-top: vw(32px);
}
.product_detail .product_detail__item__images img {
    display: block;
}
.product_detail .product_detail__item__images .thumb {
    margin-top: vw(24px);
    position: relative;
    z-index: 1;
}

.product_detail .box {
    display: block;
}
.product_detail .product_detail__item__images .swiper_main img {
    border-radius: vw(4px);
    width: 100%;
}
.product_detail .product_detail__item__images .thumb img {
    opacity: 0.6;
    border: solid thin #e4e7e9;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
.product_detail
    .product_detail__item__images
    .thumb
    .swiper-slide-thumb-active
    img {
    opacity: 1;
    border: solid thin #ea6a24;
}
@media (min-width: 768px) {
    .product_detail .box {
        display: flex;
        flex-wrap: nowrap;
    }
    .product_detail .product_detail__item__images .thumb {
        margin-left: vw(37px, 1440px);
        margin-right: vw(37px, 1440px);
    }
    .product_detail .product_detail__item__images .swiper_main img {
        aspect-ratio: 2/1.16;
        height: 100%;
        object-fit: cover;
    }
    .product_detail .box .column:nth-child(1) {
        max-width: vw(690px, 1440px);
        width: 100%;
    }
    .product_detail .box .column:nth-child(2) {
        max-width: vw(456px, 1440px);
        width: 100%;
        margin-left: auto;
    }
    .product_top__item__texts .name {
        font-size: vw(38px, 1440px);
        margin-bottom: w(23px, 1440px);
        display: block;
        width: fit-content;
    }

    .product_top__item__texts .desc {
        font-size: vw(16px, 1440px);
        margin-bottom: vw(23px, 1440px);
    }
    .product_top__item__texts .spec {
        max-width: vw(260px, 1440px);
        flex-wrap: wrap;
        gap: vw(50px, 1440px);
        row-gap: vw(23px, 1440px);
    }

    .product_top__item__texts .spec > * {
        max-width: calc(100% / 2 - vw(25px, 1440px));
    }

    .product_top__item__texts .product_top__detail {
        max-width: vw(121px, 1440px);
        margin-bottom: 0;
        font-size: vw(16px, 1440px);
        border-radius: vw(8px, 1440px);
        padding: vw(12px, 1440px) vw(24px, 1440px);
    }
    .product_description .product_description__tab {
        border-bottom: solid 1px #e4e7e9;
        margin-bottom: vw(40px, 1440px);
        text-align: center;
        span {
            padding: vw(17px, 1440px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            border-bottom: solid 3px #ea6a24;
            font-size: vw(14px, 1440px);
            font-family: "Public Sans";
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    .product_top__item__texts .spec {
        font-size: vw(16px, 1440px);
        gap: vw(50px, 1440px);
        row-gap: vw(23px, 1440px);
        .label {
            padding-bottom: vw(4px, 1440px);
            margin-bottom: vw(4px, 1440px);
        }
    }
    .product_top__item__texts .specs {
        margin-bottom: vw(23px, 1440px);
    }
    .product_description__tabs .title {
        font-family: "Public Sans";
        font-weight: 600;
        font-size: vw(16px, 1440px);
        display: block;
        margin-bottom: vw(12px, 1440px);
    }
    .product_description__tabs
        .product_description__content
        .column:nth-child(2) {
        display: block;
        max-width: vw(280px, 1440px);
        width: 100%;
        margin-left: auto;
    }
    .product_description__tabs
        .product_description__content
        .column:nth-child(1) {
        max-width: vw(895px, 1440px);
        width: 100%;
        padding-right: vw(24px, 1440px);
        position: relative;
        z-index: 1;
    }
    .product_benefit img {
        width: vw(24px, 1440px);
        height: auto;
        aspect-ratio: 1/1;
    }
    .product_description + .feels {
        padding-top: vw(80px, 1440px);
    }
    .product_benefit {
        display: flex;
        gap: vw(8px, 1440px);
        color: #191c1f;
        align-items: center;
    }
    .product_description {
        margin-bottom: vw(20px, 1440px);
    }
    .product_benefit:not(:last-child) {
        margin-bottom: vw(12px, 1440px);
    }
    .product_description__tabs
        .product_description__content
        .column:nth-child(1):after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 1px;
        height: vw(228px, 1440px);
        background: #e4e7e9;
    }
    .product_detail .product_detail__item__images .thumb {
        margin-top: vw(24px, 1440px);
    }
    .thumb .swiper-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #ea6a24;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        aspect-ratio: 1/1;
        z-index: 11;
        border-radius: 50%;
        cursor: pointer;
    }

    .thumb .swiper-control.prev {
        left: -24px;
    }

    .thumb .swiper-control.next {
        right: -24px;
    }
    .product_description__tabs .s-content {
        font-size: vw(14px, 1440px);
    }
}
